## Blending
Blending is a type of stacking where we use Hold Out method.

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_breast_cancer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
data = load_breast_cancer()
X = data.data
y = data.target

In [6]:
df = pd.DataFrame(X)
df["target"] = y 
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train1, X_val, y_train1, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [9]:
df_preds = pd.DataFrame()
lr = LogisticRegression()
dtree = DecisionTreeClassifier()
gbc = GradientBoostingClassifier()
rf = RandomForestClassifier()

In [10]:
#train base models on X_train1 and y_train1. Make preds on X_val and y_val.
lr.fit(X_train1, y_train1)
df_preds["lr_preds"] = lr.predict(X_val)
dtree.fit(X_train1, y_train1)
df_preds["dtree_preds"] = dtree.predict(X_val)
gbc.fit(X_train1, y_train1)
df_preds["gbc_preds"] = gbc.predict(X_val)
df_preds.head()

/home/raaggeeprime/MachineLearningImplementations/venv/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

   lr_preds  dtree_preds  gbc_preds
0         0            0          0
1         1            1          1
2         1            1          1
3         1            1          1
4         1            0          0

In [11]:
df_preds["target"] = y_val
df_preds.head()

   lr_preds  dtree_preds  gbc_preds  target
0         0            0          0       0
1         1            1          1       1
2         1            1          1       1
3         1            1          1       1
4         1            0          0       0

In [14]:
X = df_preds.drop("target", axis=1)
y = df_preds["target"]

In [15]:
rf.fit(X, y)
df_preds["rf_target"] = rf.predict(X)

In [18]:
accuracy_score(df_preds["rf_target"].values, y)

0.967032967032967